html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #1c1b29;
  font-family: "Oxygen", sans-serif; }
  body header {
    background-image: url("../img/background-rafael-castro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 115vh; }
    body header nav {
      padding: 0 60px; }
      body header nav.menu-fixed {
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        width: 100%;
        background-color: #203760; }
        body header nav.menu-fixed div {
          padding: 25px 30px; }
          body header nav.menu-fixed div ul {
            padding: 0 30px; }
      body header nav div {
        width: 100%;
        display: inline-block;
        padding: 25px 0;
        border-bottom: 2px solid #0cba59; }
        body header nav div ul {
          display: flex;
          float: right; }
          body header nav div ul li {
            padding: 0 40px; }
            body header nav div ul li.active a {
              color: #0cba59;
              font-weight: 700; }
            body header nav div ul li:last-child {
              padding-right: 0; }
            body header nav div ul li a {
              color: #ffffff;
              font-family: "Oxygen", sans-serif;
              font-size: 14pt;
              font-weight: 400;
              text-decoration: none; }
        body header nav div #openup {
          display: none; }
    body header section {
      padding: 15% 60px; }
      body header section h1 {
        color: #ffffff;
        font-family: "Oxygen", sans-serif;
        font-size: 50pt;
        font-weight: 700;
        padding: 10px 0; }
      body header section h2 {
        width: 500px;
        background-color: #0cba59;
        color: #1c1b29;
        font-family: "Oxygen", sans-serif;
        font-size: 25pt;
        padding: 15px 40px;
        margin: 0;
        font-weight: 400; }
        body header section h2 .blink {
          animation: blinker 1s linear infinite; }
@keyframes blinker {
  50% {
    opacity: 0; } }
    body header .mouse {
      border: 2px solid #0cba59;
      border-radius: 13px;
      bottom: 40px;
      display: block;
      height: 35px;
      left: 50%;
      margin: 0 auto 0;
      position: absolute;
      width: 20px; }
      body header .mouse span {
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: scroll;
        background: none repeat scroll 0 0 #0cba59;
        border: 1px solid transparent;
        border-radius: 4px;
        display: block;
        height: 2px;
        margin: 4px auto;
        width: 2px; }
@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0px); }
  100% {
    opacity: 0;
    transform: translateY(20px); } }
  @media only screen and (max-width: 1024px) {
    body header section h1 {
      font-size: 40pt; }
    body header section h2 {
      width: 400px; } }
  @media only screen and (max-width: 768px) {
    body header {
      height: 100vh; }
      body header nav {
        padding: 0 30px;
        height: auto;
        border-bottom: 0; }
        body header nav.menu-fixed div {
          padding: 30px; }
        body header nav div {
          padding: 30px 0; }
          body header nav div ul {
            display: none;
            height: auto;
            float: none; }
            body header nav div ul li {
              width: 100%;
              float: left;
              position: relative;
              padding: 0 0 15px; }
              body header nav div ul li a {
                color: #ffffff;
                font-family: "Oxygen", sans-serif;
                font-size: 16pt;
                font-weight: 400;
                text-align: left;
                width: 100%;
                text-indent: 25px; }
        body header nav #openup {
          display: block;
          background-color: #0cba59;
          width: 100%;
          color: #0cba59;
          position: relative;
          text-decoration: none; }
          body header nav #openup:after {
            content: "|||";
            transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            /* IE 9 */
            -webkit-transform: rotate(-90deg);
            /* Safari and Chrome */
            width: 0;
            height: 30px;
            font-weight: 700;
            display: inline-block;
            position: absolute;
            right: 20px;
            top: 30px;
            font-size: 30px;
            letter-spacing: -0.5px;
            color: #0cba59; }
          body header nav #openup:visited, body header nav #openup:active, body header nav #openup:focus {
            text-decoration: none;
            color: #0cba59;
            font-weight: 700; }
      body header section {
        padding: 20% 30px; } }
  @media only screen and (max-width: 600px) {
    body header section h1 {
      font-size: 35pt; }
    body header section h2 {
      width: 320px;
      display: inline-block;
      font-size: 22pt; } }
  @media only screen and (max-width: 480px) {
    body header nav {
      padding: 0 20px; }
    body header section {
      padding: 30% 20px; }
      body header section h1 {
        font-size: 30pt; }
      body header section h2 {
        width: 270px;
        font-size: 18pt;
        padding: 15px 20px; } }
  body section#servicos {
    padding: 60px; }
    body section#servicos ul {
      width: 100%; }
      body section#servicos ul li {
        display: inline-block;
        width: 24%;
        text-align: center;
        padding: 60px 0;
        height: 280px;
        vertical-align: middle; }
        body section#servicos ul li object {
          width: 120px;
          height: 120px; }
        body section#servicos ul li h2 {
          color: #ffffff;
          font-family: "Oxygen", sans-serif;
          font-size: 14pt;
          font-weight: 700;
          padding: 30px 0 10px; }
        body section#servicos ul li p {
          font-family: "Oxygen", sans-serif;
          font-size: 12pt;
          font-weight: 400;
          color: #ffffff;
          padding: 10px 20px 20px;
          line-height: 1.8; }
  @media only screen and (max-width: 1024px) {
    body section#servicos ul {
      text-align: center; }
      body section#servicos ul li {
        width: 48%; } }
  @media only screen and (max-width: 768px) {
    body section#servicos {
      padding: 60px 30px; }
      body section#servicos ul li {
        height: 360px; }
        body section#servicos ul li h2 {
          color: #ffffff;
          font-family: "Oxygen", sans-serif;
          font-size: 16pt;
          font-weight: 700; }
        body section#servicos ul li p {
          font-family: "Oxygen", sans-serif;
          font-size: 14pt;
          font-weight: 400;
          color: #ffffff; } }
  @media only screen and (max-width: 600px) {
    body section#servicos ul li {
      width: 100%;
      height: auto;
      padding: 40px 0; } }
  @media only screen and (max-width: 360px) {
    body section#servicos {
      padding: 30px 20px 0; } }
  body aside#trabalhos {
    width: 100%;
    background-color: #1c1b29;
    transform: rotate(-5deg) skew(-5deg);
    -webkit-transform: rotate(-5deg) skew(-5deg);
    -moz-transform: rotate(-5deg) skew(-5deg);
    -o-transform: rotate(-5deg) skew(-5deg);
    -ms-transform: rotate(-5deg) skew(-5deg);
    margin: 160px 0;
    padding: 100px 0;
    -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75); }
    body aside#trabalhos:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 1;
      border-top: 2px solid #0cba59;
      margin-bottom: -3px;
      border-image-source: linear-gradient(to right, #1c1b29 0%, #1c1b29 50%, #0cba59 50%, #0cba59 70%, #0cba59 100%);
      border-image-slice: 20;
      z-index: -1; }
    body aside#trabalhos:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 1;
      border-bottom: 2px solid #0cba59;
      margin-bottom: -3px;
      border-image-source: linear-gradient(to left, #1c1b29 0%, #1c1b29 50%, #0cba59 50%, #0cba59 70%, #0cba59 100%);
      border-image-slice: 20;
      z-index: -1; }
    body aside#trabalhos .diagonal {
      color: #fff;
      padding: 35px 0 15px;
      transform: rotate(5deg) skew(5deg);
      -webkit-transform: rotate(5deg) skew(5deg);
      -moz-transform: rotate(5deg) skew(5deg);
      -o-transform: rotate(5deg) skew(5deg);
      -ms-transform: rotate(5deg) skew(5deg);
      margin-bottom: -20px;
      padding-bottom: 50px;
      z-index: 0; }
      body aside#trabalhos .diagonal ul#filters {
        text-align: center; }
        body aside#trabalhos .diagonal ul#filters li {
          display: inline;
          padding: 0 20px;
          z-index: 999;
          color: #ffffff;
          font-family: "Oxygen", sans-serif;
          font-size: 14pt;
          font-weight: 400;
          cursor: pointer; }
          body aside#trabalhos .diagonal ul#filters li:nth-child(odd) {
            padding: 0; }
      body aside#trabalhos .diagonal #portfoliolist {
        margin-top: 60px; }
        body aside#trabalhos .diagonal #portfoliolist .portfolio {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -o-box-sizing: border-box;
          width: 24.6%;
          margin: 0.1%;
          display: none;
          overflow: hidden; }
          body aside#trabalhos .diagonal #portfoliolist .portfolio .wrapper {
            overflow: hidden;
            position: relative !important;
            background: #1c1b29;
            cursor: pointer; }
            body aside#trabalhos .diagonal #portfoliolist .portfolio .wrapper img {
              max-width: 100%;
              position: relative;
              top: 0;
              -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
              transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); }
  @media only screen and (max-width: 1440px) {
    body .diagonal {
      text-align: center; }
      body .diagonal ul#filters {
        width: 75%;
        display: inline-block; }
        body .diagonal ul#filters li {
          line-height: 2.5; }
      body .diagonal #portfoliolist .portfolio {
        width: 24%;
        margin: 0.3%; } }
  @media only screen and (max-width: 1024px) {
    body aside#trabalhos .diagonal {
      text-align: center; }
      body aside#trabalhos .diagonal #portfoliolist .portfolio {
        width: 32%; } }
  @media only screen and (max-width: 768px) {
    body aside#trabalhos {
      margin: 60px 0;
      padding: 60px 0; }
      body aside#trabalhos .diagonal {
        text-align: center; }
        body aside#trabalhos .diagonal ul#filters li {
          color: #ffffff;
          font-family: "Oxygen", sans-serif;
          font-size: 16pt;
          font-weight: 400; }
        body aside#trabalhos .diagonal #portfoliolist .portfolio {
          width: 48%; } }
  @media only screen and (max-width: 480px) {
    body aside#trabalhos .diagonal #portfoliolist .portfolio {
      width: 100%; }
      body aside#trabalhos .diagonal #portfoliolist .portfolio .wrapper img {
        width: 100%; } }
  body section#quem {
    padding: 60px;
    text-align: center; }
    body section#quem .name {
      background-image: url(../img/brush.png);
      display: block;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 280px;
      height: 70px;
      padding: 0px 0px 0px 25px; }
      body section#quem .name h2 {
        color: #ffffff;
        font-family: "Oxygen", sans-serif;
        font-size: 25pt;
        font-weight: 700;
        text-align: center;
        padding: 20px 0 0; }
    body section#quem p {
      font-family: "Oxygen", sans-serif;
      font-size: 12pt;
      font-weight: 400;
      color: #ffffff;
      padding: 30px 0;
      line-height: 1.8;
      width: 60%;
      display: inline-block; }
    body section#quem #conhecimento {
      margin-top: 30px;
      width: 100%;
      display: flex;
      background-color: #1c1b29;
      -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.75);
      padding: 30px 0; }
      body section#quem #conhecimento .program {
        width: 40%;
        padding: 20px 40px;
        display: inline-block; }
        body section#quem #conhecimento .program span {
          font-family: "Oxygen", sans-serif;
          font-size: 12pt;
          font-weight: 400;
          color: #ffffff;
          display: block;
          text-align-last: left; }
        body section#quem #conhecimento .program .progress {
          width: 100%;
          height: 25px;
          border: 1px solid #ffffff; }
        body section#quem #conhecimento .program .progress-wrap {
          background-color: #0cba59;
          margin: 10px 0 20px;
          overflow: hidden;
          position: relative; }
          body section#quem #conhecimento .program .progress-wrap .progress-bar {
            background-color: #1c1b29;
            right: 0;
            position: absolute;
            top: 0;
            border: 0; }
            body section#quem #conhecimento .program .progress-wrap .progress-bar:before {
              content: '';
              position: absolute;
              z-index: 0;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              border: 0px solid transparent;
              border-bottom: 25px solid transparent;
              border-left: 25px solid #0cba59; }
      body section#quem #conhecimento .certifications {
        width: 45%;
        float: right;
        padding: 20px 40px; }
        body section#quem #conhecimento .certifications ul li {
          margin-top: 50px;
          vertical-align: middle; }
        body section#quem #conhecimento .certifications ul .google {
          width: 48%;
          display: inline-block;
          text-align: center; }
          body section#quem #conhecimento .certifications ul .google img {
            width: 200px;
            margin-bottom: 20px; }
          body section#quem #conhecimento .certifications ul .google h3 {
            font-family: "Oxygen", sans-serif;
            font-weight: 400;
            font-size: 14pt;
            color: #ffffff;
            line-height: 1.7; }
        body section#quem #conhecimento .certifications ul .marketing {
          display: inline-block;
          width: 48%;
          text-align: center; }
          body section#quem #conhecimento .certifications ul .marketing img {
            width: 200px;
            margin-bottom: 20px; }
          body section#quem #conhecimento .certifications ul .marketing h3 {
            font-family: "Oxygen", sans-serif;
            font-weight: 400;
            font-size: 14pt;
            color: #ffffff;
            line-height: 1.7; }
  @media only screen and (max-width: 1280px) {
    body section#quem p {
      width: 80%; } }
  @media only screen and (max-width: 1024px) {
    body section#quem #conhecimento .program {
      width: 48%; }
    body section#quem #conhecimento .certifications {
      width: 50%; }
      body section#quem #conhecimento .certifications ul li {
        margin-top: 0; }
      body section#quem #conhecimento .certifications ul .google {
        width: 100%; }
      body section#quem #conhecimento .certifications ul .marketing {
        width: 100%;
        margin-top: 10px; } }
  @media only screen and (max-width: 768px) {
    body section#quem {
      padding: 60px 30px; }
      body section#quem p {
        width: 100%; }
      body section#quem #conhecimento {
        display: inline-block; }
        body section#quem #conhecimento .program {
          width: 85%; }
        body section#quem #conhecimento .certifications {
          width: 85%; } }
  @media only screen and (max-width: 480px) {
    body section#quem #conhecimento .program {
      width: 80%; }
      body section#quem #conhecimento .program span label {
        display: none; }
    body section#quem #conhecimento .certifications {
      width: 80%; } }
  @media only screen and (max-width: 360px) {
    body section#quem #conhecimento .program {
      width: 70%; }
    body section#quem #conhecimento .certifications {
      width: 70%; } }
  body #contato {
    padding: 60px; }
    body #contato .data {
      border-right: 2px solid #0cba59;
      border-left: 2px solid #0cba59;
      padding: 20px 60px; }
      body #contato .data .information {
        width: 49%;
        display: inline-block;
        padding: 60px 0; }
        body #contato .data .information div .phone {
          margin-top: 40px; }
        body #contato .data .information div h3 {
          color: #ffffff;
          font-family: "Oxygen", sans-serif;
          font-size: 14pt;
          font-weight: 700;
          display: block;
          padding: 60px 0 25px; }
          body #contato .data .information div h3:first-child {
            padding: 0 0 25px; }
        body #contato .data .information div img {
          width: 40px;
          float: left;
          margin-right: 20px;
          vertical-align: middle; }
        body #contato .data .information div p {
          color: #ffffff;
          font-family: "Oxygen", sans-serif;
          font-size: 14pt;
          font-weight: 400;
          display: inline-block;
          padding: 12px 0;
          letter-spacing: 1px; }
        body #contato .data .information .download {
          background-image: url(../img/brush.png);
          display: inline-block;
          background-repeat: no-repeat;
          background-position: right;
          margin-top: 50px;
          background-size: 224px; }
          body #contato .data .information .download a {
            display: block;
            padding: 35px 35px 30px 45px;
            text-transform: uppercase;
            text-decoration: none;
            color: #ffffff;
            font-family: "Oxygen", sans-serif;
            font-size: 14pt;
            font-weight: 700; }
            body #contato .data .information .download a:before {
              content: '';
              background-image: url(../img/linkedin.svg);
              background-size: 50%;
              background-position: center center;
              background-repeat: no-repeat;
              width: 50px;
              height: 50px;
              display: inline-block;
              vertical-align: middle;
              margin-bottom: 8px; }
      body #contato .data #form-contact {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding: 60px 0; }
        body #contato .data #form-contact form fieldset {
          padding: 0 0 30px; }
          body #contato .data #form-contact form fieldset .name {
            width: 100%;
            display: flex;
            float: left; }
            body #contato .data #form-contact form fieldset .name input {
              width: 100%;
              border-width: 0;
              height: 40px;
              padding-left: 20px;
              background-color: #1c1b29;
              border: 1px solid #0cba59;
              color: #ffffff;
              font-family: "Oxygen", sans-serif; }
              body #contato .data #form-contact form fieldset .name input::placeholder {
                color: #ffffff; }
              body #contato .data #form-contact form fieldset .name input:focus {
                outline: none; }
          body #contato .data #form-contact form fieldset .email {
            width: 100%;
            display: flex; }
            body #contato .data #form-contact form fieldset .email input {
              width: 100%;
              border-width: 0;
              height: 40px;
              padding-left: 20px;
              background-color: #1c1b29;
              border: 1px solid #0cba59;
              color: #ffffff;
              font-family: "Oxygen", sans-serif; }
              body #contato .data #form-contact form fieldset .email input::placeholder {
                color: #ffffff; }
              body #contato .data #form-contact form fieldset .email input:focus {
                outline: none; }
          body #contato .data #form-contact form fieldset .text {
            width: 100%;
            display: flex; }
            body #contato .data #form-contact form fieldset .text textarea {
              border-width: 0;
              height: 40px;
              padding-left: 20px;
              background-color: #1c1b29;
              border: 1px solid #0cba59;
              color: #ffffff;
              font-family: "Oxygen", sans-serif;
              width: 100%;
              resize: none;
              height: 100px;
              padding: 20px;
              line-height: 1.7; }
              body #contato .data #form-contact form fieldset .text textarea::placeholder {
                color: #ffffff; }
              body #contato .data #form-contact form fieldset .text textarea:focus {
                outline: none; }
          body #contato .data #form-contact form fieldset .submit {
            width: 100%;
            display: inline-block; }
            body #contato .data #form-contact form fieldset .submit button {
              float: right;
              background-color: transparent;
              border: 0;
              color: #ffffff;
              font-family: "Oxygen", sans-serif;
              font-size: 14pt;
              font-weight: 700; }
  @media only screen and (max-width: 1200px) {
    body .data .information .download {
      margin-top: 40px; } }
  @media only screen and (max-width: 1024px) {
    body #contato .data .information {
      width: 100%;
      padding: 60px 0 0; }
      body #contato .data .information div .email {
        width: 50%;
        display: inline-block; }
      body #contato .data .information div .phone {
        width: 48%;
        display: inline-block;
        margin-top: 0; }
    body #contato .data #form-contact {
      width: 100%; }
      body #contato .data #form-contact form fieldset:last-child {
        padding: 0; } }
  @media only screen and (max-width: 768px) {
    body #contato {
      padding: 60px 30px; }
      body #contato .data .information {
        padding: 30px 0 0; }
        body #contato .data .information div .email {
          width: 55%; }
          body #contato .data .information div .email p {
            font-size: 12pt; }
        body #contato .data .information div .phone {
          width: 40%;
          float: right; }
          body #contato .data .information div .phone p {
            font-size: 12pt; }
        body #contato .data .information .download {
          display: none; } }
  @media only screen and (max-width: 600px) {
    body #contato {
      padding: 30px; }
      body #contato .data {
        padding: 20px 0;
        border-right: 0;
        border-left: 0; }
        body #contato .data .information div .email {
          width: 100%; }
          body #contato .data .information div .email p {
            font-size: 14pt; }
        body #contato .data .information div .phone {
          width: 100%;
          margin-top: 40px; }
          body #contato .data .information div .phone p {
            font-size: 14pt; } }
  @media only screen and (max-width: 480px) {
    body #contato .data .information div .email img {
      display: none; }
    body #contato .data .information div .email p {
      font-size: 14pt; }
    body #contato .data .information div .phone img {
      display: none; }
    body #contato .data .information div .phone p {
      font-size: 14pt; } }
  body .pulse {
    position: fixed;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: #0cba59;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 84px;
    font-size: 48px; }
    body .pulse:after, body .pulse:before {
      content: '';
      display: block;
      position: absolute;
      border: 1px solid #0cba59;
      left: -20px;
      right: -20px;
      top: -20px;
      bottom: -20px;
      border-radius: 50%;
      animation: animate 1.5s linear infinite;
      opacity: 0;
      z-index: -999999; }
    body .pulse:after {
      animation-delay: .5s; }
    body .pulse a:hover strong.wh-ap-btn:after {
      opacity: 1;
      width: auto;
      padding: 10px 10px;
      width: 230px;
      margin: 0;
      line-height: 24px;
      margin-bottom: 18px; }
    body .pulse a strong.wh-ap-btn {
      outline: none;
      width: 80px;
      height: 80px;
      border: 0;
      background-color: Transparent;
      padding: 0;
      border-radius: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      cursor: pointer;
      transition: opacity 0.3s, background 0.3s, box-shadow 0.3s; }
      body .pulse a strong.wh-ap-btn:hover {
        opacity: 1;
        background-color: #20bf6b;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
      body .pulse a strong.wh-ap-btn:before {
        content: '';
        background-image: url("../img/whats-white.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 48%;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 1; }
      body .pulse a strong.wh-ap-btn:after {
        content: 'Fale comigo pelo WhatsApp';
        display: block;
        position: absolute;
        bottom: 0px;
        right: 90px;
        background-color: #333;
        color: #fff;
        border-radius: 3px;
        width: 0;
        opacity: 0;
        padding: 0;
        transition: opacity .4s,width .4s,padding 0.5s;
        font-size: 15px;
        margin: 0; }
@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.2);
    opacity: 0; } }
  body footer {
    padding: 40px 60px; }
    body footer div {
      border-top: 2px solid #0cba59;
      padding: 30px 60px 0; }
      body footer div p {
        font-family: "Oxygen", sans-serif;
        font-size: 12pt;
        font-weight: 400;
        color: #ffffff; }
  @media only screen and (max-width: 1280px) {
    body footer {
      padding: 0 60px 40px; } }
  @media only screen and (max-width: 768px) {
    body footer {
      padding: 0 30px 40px; } }
  @media only screen and (max-width: 480px) {
    body footer div {
      padding: 30px 30px 0; }
      body footer div p {
        font-size: 10pt; } }

/*# sourceMappingURL=style.css.map */
